//Variables

$font-stack: 'Poppins', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

//Colors

$primary-color: #000000;
$text-color: #ffff;
$disabled-text: #727272;
$button-code-color: rgb(3, 144, 3);
$button-color: #4C6FFF;
$button-hover-color: #2d46a8;
$background-gradient: linear-gradient(180deg, #000000 13.02%, #050F1B 100%), #030407;


